[submodule "3rd-party/RichTextFX"]
	path = 3rd-party/RichTextFX
	url = https://github.com/TomasMikula/RichTextFX
[submodule "3rd-party/jphp"]
	path = 3rd-party/jphp
	url = https://github.com/oz-stanislav-zhukov/jphp
	branch = modernization/java25
[submodule "3rd-party/wizard-framework"]
	path = 3rd-party/wizard-framework
	url = https://github.com/oz-stanislav-zhukov/wizard-framework.git
	branch = modernization/java25
